doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/index.css")
    title Sheer
  body 
    main 
      .container
        h1.h-3 Sheer
      .container
        h3#name-display
        p Set your Room Name
        input#set-room-input(type="text")
        button#set-room Set Room
      .container
        .row
          .col-6.pt-5.pb-5
            form#file-input
              input(type="file" name="file")
              button#share-btn(type="submit").btn Share
          .col-6.pt-3.pb-3.border-top
            ul#file-list

    script(src="/js/bundle.js" defer) 