doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/index.css")
    title FileShare
  body 
    main 
      .container
        h1.h-3 Hello
      
      .container
        .row
          .col-6.bordered
            form#file-input
              input(type="file" name="file")
              button#share-btn(type="submit").btn Share
          .col-6.bordered 
            ul#file-list

    script(src="/js/bundle.js") 